* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(241, 235, 229);
}

.main {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
  background-color: whitesmoke;
}

.header {
  padding: 16px 48px;
  border: 4px double white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: rgba(47, 79, 79, 0.918);
}

.hireMeBadge {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px 12px;
  background-color: rgb(217, 121, 52);
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

h1,
h2,
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.title {
  font-size: 45px;
}

.profession::after {
  content: "🔥";
}

article {
  border-top: 1px solid rgb(179, 179, 179);
  padding-bottom: 50px;
}

#profile {
  border-style: hidden;
}

h2 {
  font-size: 32px;
}

.first-experience,
.first-experience-timespan {
  display: inline;
}

section {
  padding-bottom: 8px;
}

.nav-header {
  padding-top: 8px;
}

.nav-header a {
  padding-inline: 16px;
  color: rgb(217, 121, 52);
  text-decoration: none;
  _font-family: system-ui, sans-serif;
  font-weight: bold;
}

.nav-header a:hover {
  border: 1px solid rgb(217, 121, 52);
}

.nav-header a:active {
  border: 1px solid rgb(217, 121, 52);
  color: white;
}
